<!DOCTYPE html>
<html>
<head>
<title>Tally My Gear</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag "application", media: "all" %>
<script type='text/javascript' src="http://code.jquery.com/jquery-latest.js"></script>


<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= csrf_meta_tags %>
</head>
<%
if current_page?(:controller => 'session', :action => 'new')
  body_class = 'landing'
else
  body_class = ''
end
%>
<body class="<%= body_class %>">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/products">Tally My Gear.   <em>the place to weigh your gear</em></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
 -->
        </div>
      </div>
</nav>

<%= yield %>
<footer>
</footer>




  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- JavaScript jQuery code from Bootply.com editor  -->


<!-- flashy -->

<!-- after flashy -->
</body>
</html>